<!DOCTYPE html>
<html>
<head>
	<title>Show_DATa</title>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<body bgcolor="bg-success">
	<form action="{{url_for('deletedata',register_id=register.id)}}" method='post' >
		<div class="container">
			<h1>DO you want to delete{{register.name}}</h1>
		</div>
		<div class="form-group col-sm-12">
			<button type="submit" class="btn btn-success">Delete</button>
		</div>
	</form>

</body>
</html>