<!DOCTYPE html>
<html>
<head>
	<title>concepts</title>
		 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<body div class="view" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ6yPpT4Fz3hcckkp2yPbJZSjAAfbrLbhECG19dASf5HnyFHCO);background-repeat: no-repeat;background-size:cover; background-position: center center;">

	<center><h1><font color="blue">CONCEPTS</h1></center>


	<h2><div class="form-group col-sm-offset-10 col-sm-12">
	<button type="button" class="btn btn-success"><a href="{{url_for('email')}}">Login</button>
	</div>
	</h2>

	<h2><div class="form-group col-sm-offset-1 col-sm-12">
	<a href="{{url_for('dummy_data')}}"><font color="green">Dummy_data</a>
	</div>
	</h2>

	<h2><div class="form-group col-sm-offset-1 col-sm-12">
	<a href="{{url_for('file_upload')}}"><font color="green">file_upload</a>
	</div>
	</h2>

	<h2><div class="form-group col-sm-offset-1 col-sm-12">
	<a href="{{url_for('showdata')}}"><font color="green">show</a>
	</div>
	</h2>

	










</body>
</html>